html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: #eff1f1;
}

/* main page */

.list-books-title {
  background: #05718b;
  background-image: linear-gradient(#057b8b, black, #05718b);
  padding: 10px 0;
  text-align: center;
}

.list-books-title h1 {
  color: #a8e7fc;
  font: bold 2.5em 'Old Standard TT', serif;
  margin: 0;
}

.list-books-content {
  flex: 1;
  padding: 0 0 80px;
}

.mybookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .mybookshelf {
    padding: 0 20px 40px;
  }
}

.mybookshelf-title {
  border-bottom: 1px solid #dedede;
  font: bold 2.25em 'Old Standard TT', serif;
}

.mybookshelf-books {
  text-align: center;
}

.open-search {
  bottom: 25px;
  position: fixed;
  right: 25px;
}

.open-search a {
  background: #05718b;
  background-image: url('../icons/addme.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.20), 0 3px 6px rgba(0, 0, 0, 0.24);
  display: block;
  font-size: 0;
  height: 50px;
  width: 50px;
}

/* search page */

.search-books-bar {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  display: flex;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.search-books-input-wrapper {
  background: #d9e7c8;
  flex: 1;
}

.search-books-bar input {
  border: none;
  font-size: 1.0em;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  padding: 15px 10px;
  width: 100%;
}

.close-search {
  background: #05718b;
  background-image: url('../icons/back-arrow-blue.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  display: block;
  font-size: 0;
  height: 53px;
  left: 15px;
  top: 20px;
  width: 50px;
}

.search-books-results {
  padding: 80px 10px 20px;
  color:rgb(2, 168, 190);
}

/* books grid */

.books-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  align-items: flex-end;
  display: flex;
  height: 200px;
  position: relative;
}

.book-shelf-changer {
  background: #05718b;
  background-image: url('../icons/arrow-drop-down-me.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 50%;
  bottom: -10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 40px;
  position: absolute;
  right: 0;
  width: 40px;
}

.book-shelf-changer select {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  width: 100%;
}

/* book cover */

.book-cover {
  background: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 188px;
  width: 128px;
}

.book-cover-title {
  font-size: 0.8em;
  padding: 20px 10px 0;
  text-align: center;
}

/* not found page */
.not-found-title {
  color: #507461;
  font: bold 6em/1 'Old Standard TT', serif;
  margin: 30px auto;
  width: 50%;
}

.not-found-img {
  margin: auto;
  width: 50%;
}

.not-found-img img {
  width: 100%;
}

.home-link {
  margin: 30px auto;
  width: 50%;
}

.home-link a {
  color: #6aaac5;
  font: bold 4em/1 'Old Standard TT', serif;
  text-decoration: none;
}

.home-link a:hover {
  color: #507461;
  font-size: 5em;
}

/* Colors from https://www.design-seeds.com/in-nature/flora/color-flora-51/ */
